/*
 * style.css
 * Ce fichier est injecté automatiquement par l'extension.
 * Les règles définies ici s'appliqueront immédiatement dès que le DOM correspond.
 */

/* Exemple : Transforme les éléments avec la classe .custom-box (ajoutée par content.js) */


/* .nf-ads {
  display: none !important;
}

.custom-box {
  display: none !important;
}

.container {
    display: none !important;
}

.enhanced-title {
    display: none !important;
} */
